<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:amazon="http://schemas.amazon.com/apk/res/android">

    <!--for android-->
    <!--<uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>-->
    <!--<uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>-->
    <!--<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />-->
    <!--<uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />-->

    <!--for Samsung-->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>

    <!--for htc-->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>

    <!--for sony-->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>

    <!--for apex-->
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>

    <!--for solid-->
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>

    <!--for huawei-->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>

    <!--for ZUK-->
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>

    <!--for OPPO-->
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>

    <!--for EvMe-->
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE"/>

    <!-- ADM -->
    <permission
        android:name="${applicationId}.permission.RECEIVE_ADM_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.RECEIVE_ADM_MESSAGE" />
    <uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Android 13 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <!-- Teak Init via ContentProvider -->
        <provider
            android:authorities="${applicationId}.TeakInitProvider"
            android:exported="false"
            android:enabled="true"
            android:name="io.teak.sdk.provider.TeakInitProvider"/>

        <!-- Teak Broadcast Receiver -->
        <receiver android:name="io.teak.sdk.Teak" android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.intent.TEAK_NOTIFICATION_OPENED" />
                <action android:name="${applicationId}.TEAK_NOTIFICATION_CLEARED" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- FCM ID Listener Service -->
        <service android:name="io.teak.sdk.push.FCMPushProvider"
                 android:stopWithTask="false"
                 android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="io.teak.sdk.activity.PermissionRequest"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:exported="false" />

        <!-- ADM -->
        <amazon:enable-feature
            android:name="com.amazon.device.messaging"
            android:required="false"/>

        <!-- ADM 1.0.1 -->
        <service android:name="io.teak.sdk.push.ADMPushProvider$ADMMessageHandler_1_0_1"
            android:exported="false" />

        <!-- ADM 1.1.0 -->
        <service
            android:name="io.teak.sdk.push.ADMPushProvider$ADMMessageHandler_1_1_0"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <!-- ADM -->
        <receiver
            android:name="io.teak.sdk.push.ADMPushProvider$MessageAlertReceiver"
            android:permission="com.amazon.device.messaging.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.amazon.device.messaging.intent.REGISTRATION" />
                <action android:name="com.amazon.device.messaging.intent.RECEIVE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
